@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  body{
    @apply w-screen overflow-x-hidden pr-14 pl-14 md:pr-2 md:pl-2 bg-white
  }
  .logo{
    @apply bg-gradient-to-r from-purple-500 to-pink-500 h-12 w-12 rounded-full font-semibold flex justify-center items-center text-xl cursor-pointer
  }

  .primary-bg{
    @apply border-b bg-gradient-to-b from-zinc-200  backdrop-blur-xl dark:border-neutral-800 dark:bg-zinc-800/30 dark:from-inherit  lg:rounded-xl lg:border p-3 lg:dark:bg-zinc-800/30 rounded-lg
  }

  .nav_link{
    @apply hover:text-white mr-5 transition-all duration-300 text-sm
  }
  
  .sm_nav_link{
    @apply  hover:text-white transition-all duration-300 block m-6
  }

  .mobile_nav{
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-20%] flex flex-col items-center justify-center text-center w-screen bg-white dark:bg-black shadow-xl p-10
  }

  .header_title{
    @apply text-[14rem] font-bold border-t-[0.5px] border-slate-500 tracking-wider md:text-[3rem] lg:text-[7rem] pt-3 leading-none
  }

  .btn{
    @apply fixed left-0 top-0 flex w-full justify-center border-b border-gray-300 
    bg-gradient-to-b from-zinc-200 pb-6 pt-8 backdrop-blur-2xl dark:border-neutral-800 
    dark:bg-zinc-800/30 dark:from-inherit lg:static lg:w-auto  lg:rounded-xl lg:border 
    lg:bg-gray-200 lg:p-4 lg:dark:bg-zinc-800/30;
  }
}